// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #2979FF;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #616161;
$light-gray: #F4F4F4;
$darker-gray: #BDBDBD;
$blue-gray: #263238;
