// Specific CSS for your home-page
.banner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.banner-content {
  display: flex;
  text-align: center;
  justify-content: center;
}

.search-form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
}


.title {
  top: 500px;
  left: 500px;
  position: absolute;
  height: 20%;
}

.section {
  height: 100vh;
  width: 100%;
  background-vholor: white;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.subsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 100%;
  background-vholor: rgba(255,255,255, 0.6);
  align-items: center;
  padding: 80px;
}


.homepage-navbar {
  background: rgba(255, 255, 255, 0.2)
}


.info {
  height: 60%;
  text-align: center;

}

.worldwide {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 110px;
}

.small-banner {
  height: 60%;
  width: 50% ;
  background-color: rgba(255,255,255, 0.95)
}

.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 10%;
  left: 40%;
  color: gray;
  text-align: center;
}

.location-info {
  top: 10%;
}

.locations-section {
   color: gray;
   height: 100vh;
   width: 100%;
   background-vholor: white;
   background-size: cover;
   background-position: 50% 50%;
   background-attachment: fixed;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   p {
    padding-top: 16px;
   }
}


.boat-icons {
  display: flex;
  justify-content: center;
  padding: 5%;

  img {
    width: 15%;
    margin: 0 5%;
  }
}
.first {
  img {
    padding: 5%
  }
}
.last {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
   i {
    font-size: 30px;
   }
   a {
    text-decoration: none;
    color: white;
  }

}

.choices {
  a {
    text-decoration: none;
    color: gray;
  }
}

@media (max-width: 629px) {
  .quotes{
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .quotes{
    font-size: 12px;
  }
}

