.dashboard {
  position: relative;
  top: 70px;
  height: 100%;
  width: 100%;
  display: flex;
  margin-bottom: 72px;

}

.boat-cards-container{
  justify: center;
  height: 100%;
  width: 80vw;
  margin-bottom: 10px;
  h1 {
    padding-top:16px;
    text-align: center;
  }

}

