<% render "shared/navbar" %>
<div class="banner" style="background-image: url(<%= cl_image_path 'janek-holoubek-506313-unsplash.jpg' %>)"> </div>
<div class="subsection"></div>
<div class="section"></div>
<div class="subsection"></div>
<div class="section"></div>
<div class="subsection"></div>
<div class="section"></div>
<% render "shared/footer" %>
