.theform {
  background-color: white;
  opacity: 0.95;
  padding: 60px;
  // margin: 300px;
  margin-top: 100px;
  margin-bottom: 80px;
  border-radius: 4px;
}

.main {
  margin-top: 60px;
  background: url("https://images.unsplash.com/photo-1452313209253-2823ba17292f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d1f80ab0df85757090ff0529bef25c44&auto=format&fit=crop&w=1950&q=80");
}

.pad-20 {
  padding: 14px 0px 14px 0px;
}

.form-inline {
  padding-bottom: 10px;
}


