
#boat-pic {
  width:500px;
  border-radius:4px;
}

.outsidebox {
  display: flex;
  margin-top: 20px;
}

.textbox {
  background-color: white;
  padding: 20px;
  width: 500px;
}

.wrapper {
  min-height: calc(100vh - 200px);
}
