
// #boat-pic {
//   border-radius:4px;
//   width: 100% !important;
//   height: 100% !important;

// }

.main-container {
  position: relative;
  top: 80px;
  height: 100vh;
  grid-template-rows: 60% 40%;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 91px;
}

.infobox {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 8px;
  background-color: white;
  padding: 20px
}
@media(min-width: 790px) {
   .main-container {
    display: grid;
  }
}

@media(max-width: 790px) {
  .infobox {
    flex-direction: column;
    align-items: flex-start;
    .description {
      width: 100% !important;
      float: none;
    }
  }
}

.textbox {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  background-color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.image-box {
  border-radius: 4px;
  margin-left: 8px;
  min-height: 300px;
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}



.wrapper {
  min-height: calc(100vh - 200px);
}

.wrapper2 {
  min-height: calc(100vh - 170px);
}

.description {
  width: 29% !important;
  float: left !important;
}

.nodots {
  list-style: none;
}

.fa-angle-right {
  color: #10709A;
}

@media(max-width: 768px ) {
  .main-container {

  }
}

.content-modal {
  padding: 20px;
}
