<!-- <div class="wrapper"> -->
  <div class="dashboard">
    <div class="dashboard-sidebar">
      <p class="active">Your Boats</p>
      <p>Booking</p>
      <p>Profile</p>
    </div>

    <div class="boat-cards-container">
      <div class="row">
        <% @user.boats.each do |boat| %>
          <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-5 col-md-offset-1">
            <%= render 'shared/boatcard', b: boat %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<!-- </div> -->

