/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: absolute;
  top: 70px;
  z-index: 1;
  margin: 0;
  text-align: center;
  color: white;
  width: 100%
}
.alert-info {
  background: $green;
  border: none;
}
.alert-warning {
  background: $red;
  border:none;
}
