/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: relative;
  top: 70px;
  z-index: 1;
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
