
.card {
  position: relative;
  height: 200px;
  width: 200px;
  // width: 200px;
  color: grey;
  background-color: grey;
  margin-top: 30px;

    .boat-description {
    position: absolute;
    top: 20px;
    left: 10px;
  }

   .card-footer {
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
   }


}
