.boat-card {
  margin-right: 0px;
  position: relative;
  border-radius: 4px;
  height: 300px;
  background-color: white;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
  transition: transform .3s ease-out;
  transition: transform .3s ease-out;

  &:hover{
    transform: scale3d(1.03, 1.03, 1.1);
    }


  .boat-description {
    text-align: center;
    padding: 8px;
    position: absolute;
    top: 10px;
    left: 0px;
    color: white;
    background-color: rgba($blue, 0.8);
    h3{
      margin: 0px;
      font-size: 24px;
    }
    p {
      margin: 0px;
      font-size: 12px;
    }
  }

  .card-footer {
    color: $gray;
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    bottom: 0px;
    padding-left: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .card-footer-capacity{
      padding: 0px 8px;
    }
    .card-footer-description{

      padding: 5px 16px;
      h5, p {
        margin: 0px;
      }
    }
  }

  .card-avatar {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    border-radius: 50%;
  }
}
