


.boat-card {
  position: relative;
  border-radius: 2px;
  height: 300px;
  width: 300px;
  // width: 200px;
  color: grey;
  background-color: grey;
  margin-top: 30px;
  opacity: 0.9;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out;

    &:hover{
    transform: scale3d(1.03, 1.03, 1.1);
      }


    .boat-description {
    position: absolute;
    top: 70px;
    left: 10px;
    color: white;
  }

   .card-footer {
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }


}
   .boat-card-header {

     a {
        text-decoration: none;
        color: white;
        }
    }
