.dashboard-sidebar {
  border-radius: 4px;
  position: sticky !important;
  top: 0 !important;
  padding: 73px 0;
  background-color: white;
  box-shadow: 2px 0px 3px 0 rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 16vw;
  color: #2F7EA1;
  margin-top: 0px;
  a{
    text-decoration: none;
    color: #2F7EA1;
    margin: 0px;
    text-align: center;
    padding: 8px 10px;
  }
  a:hover {
    color: #E1143E;
  }
}

.active {
  width: 100%;
  color: #2F7EA1;
  font-weight: bold;
}

@media(max-width: 991px) {
  .dashboard-sidebar {
    display: none;
  }
  .dashboard{
    display:flex;
    justify-content:center;
  }
  .boat-cards-container{
    width: 100%;
    padding: 0px 0px;
  }
}

