<div class="maincontainer">
  <div class="container">
     <h1>Boats</h1>
    <div class="cards-container">
      <div class="row">
        <% @boats.each do |b| %>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <%= render "shared/boatcard", b: b  %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>

